@using html2pdf.Model
@model IEnumerable<Person>

@{
    ViewData["Title"] = "Contact";
}


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h1>List of people</h1>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Date of birth</th>
    </tr>

    @if (Model != null)
    {
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Age</td>
                <td>@p.DOB.ToString()</td>
            </tr>
        }

    }

</table>

<p>Trademark company</p>